.heroBackground{
    background-color: var(--green);
}
.hero{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.hero img{
    position: relative;
    top: 20px;
    height: 452px;
    width:60%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 5px 5px 10px black;
}

.hero p{
    width:60%;
}

.heroText{
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heroText h2{
    position: relative;
    top: -20px;
}